{%- comment -%}
This file has been modified by the Yoast SEO for Shopify app.
You can learn more about this (and learn how to cleanly revert these changes) at https://yoa.st/removing-theme-changes.
{%- endcomment -%}
{%- liquid
	assign disabled_by_yoast_seo = true
	if content_for_header contains 'yoast-active-script'
		assign disabled_by_yoast_seo = false
	endif
-%}
{%- liquid
	assign login_button_t = "general.password.login_button" | t
	assign login_cancel_t = "general.password.login_cancel" | t
	assign login_link_t = "general.password.login_link" | t
	assign login_title_t = "general.password.login_title" | t
	assign mailing_button_t = "general.mailing_list.button" | t
	assign mailing_placeholder_t = "general.mailing_list.placeholder" | t
	assign shopify_info_t = "general.password.shopify_info" | t
	assign subtitle_t = "general.password.sub_title" | t
	assign success_message_t = "general.mailing_list.success_message" | t
	assign title_t = "general.password.title" | t

	assign show_mailing = section.settings.show-mailing-list
	assign background_image = 'athletique_holding_edited.jpg' | file_url
    assign background_image_mob = 'athletique_holding_mob_edited.jpg' | file_url
	assign logo_height = section.settings.logo-height-range
	if section.settings.logo
		assign logo = section.settings.logo
	endif
-%}

{% capture shopify %}
	<a
		class="shopify-link"
		href="https://www.shopify.com"
		aria-label="{{ shopify_info_t }}"
		rel="noreferrer">
		{% render 'framework--icons', icon: 'shopify' %}
		<span data-item="hidden-text">Shopify</span>
	</a>
{% endcapture %}

<style>
  :root {
   --app-height: 100%;
  }
  .template--password {
    height: 100vh;
    height: var(--app-height);
  }
/*   .template--password .password--main {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  } */
  .template--password h1 {
    font-family: acumin-pro-semi-condensed,sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size: 29px;
    letter-spacing: -1px;
    margin-bottom: 20px;
    overflow: hidden;
    line-height: 1;
  }
  .template--password h1 span {
    font-weight: 700;
    display: block;
    animation: reveal 2s cubic-bezier(0.77, 0, 0.175, 1) 0s;
  }
  @keyframes reveal {
    0% {
      transform: translate(0,100%);
    }
    100% {
      transform: translate(0,0);
    }
  }
  .template--password p {
    font-family: acumin-pro-semi-condensed,sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -1px;
    margin-bottom: 20px;
    line-height: 20px;
  }
  .password--background-image .image--container {
    padding-top: inherit !important;
  }
  .template--password .password--main--content {
    max-width: 350px;
    padding-bottom: 10px;
  }
  .fadeInUp { 
    animation: fadeInUp 2s ease 1s normal backwards;
    -webkit-animation: fadeInUp 2s ease 1s normal backwards;
  }
  @keyframes fadeInUp {
    0%{transform:translate(0px, 100px); opacity: 0;}
    100%{transform:translate(0px, 0); opacity: 1;}
  }
  .template--password .password--mailing-list {
    padding-bottom: 0px !important;
    max-width: 345px;
  }
  .password--mailing-list form {
    justify-content: flex-start;
    padding: 0 !important;
  }
  .klaviyo-form.klaviyo-form.klaviyo-form {
    padding: 0 !important;
  }
  .password--mailing-list .error, .password--mailing-list .success {
    text-align: left;
    margin: -10px 0 15px !important;
  }
  .template--password .password--mailing-list input[type=email] {
    width: 100%;
    padding: 0 !important;
    font-family: acumin-pro,sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: -0.75px;
    border: 1px solid white !important;
    text-align: center;
    border-radius: 0 !important;
    height: 40px;
    line-height: 40px;
  }
  .template--password .password--mailing-list .password--mailing-button {
    width: 100%;
    padding-left: 0;
    text-align: left;
    max-width: none;
  }
  .template--password .password--mailing-list .password--mailing-button button {
    background: none;
    padding: 0;
    color: white;
    font-family: acumin-pro-semi-condensed,sans-serif;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: -0.75px;
  }
  .template--password .password--navigation {
    z-index: 10;
  }
  .template--password .password--navigation .password--navigation--logo {
    position: absolute;
    left: 10px;
    top: 4px;
  }
  .template--password .password--navigation .password--navigation--instagram {
    position: absolute;
    right: 40px;
    top: 20px;
    color: white;
    font-family: acumin-pro-semi-condensed,sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.25px;
    transition: color .4s ease;
  }
  .template--password .password--navigation .password--navigation--instagram:hover {
    color: #DFF69B !important;
  }
  .template--password button.needsclick {
    background: none;
    padding: 0 !important;
    margin-top: 10px !important;
    color: white;
    font-weight: 600 !important;
    font-size: 17px !important;
    letter-spacing: -0.75px !important;
    box-shadow: none !important;
    transition: color .4s ease;
  }
  .template--password button.needsclick:hover {
    color: #DFF69B !important;
  }
  .template--password input.needsclick {
    text-align: center !important;
    font-size: 13px !important;
    letter-spacing: -0.75px !important;
    box-shadow: none !important;
  }
  .template--password input.needsclick::placeholder {
    font-size: 13px !important;
    letter-spacing: -0.75px !important;
    opacity: 0.7 !important;
  }
/*   .template--password #email_51635833 .kl-private-reset-css-Xuajs1.needsclick {
    border: 1px solid white !important;
    opacity: 0.4 !important;   
  } */
  .go3295373554.go3295373554.go3295373554::before,
  .go3295373554.go3295373554.go3295373554::after {
    display: none !important;
  }
  .template--password #klaviyo_ariaid_2.needsclick {
    color: white !important;
    display: none !important;
  }
  .password--background-image_desk {
    display: inherit
  }
  .password--background-image_mob {
    display: none;
  }
  .password--navigation--logo img {
    width: 153.79px;
    height: 58px;
  }
/*   html .template--password {
    overflow-y: hidden;
  } */
  @media (max-width: 768px) {
    .password--background-image::before {
      background-color: rgba(0,0,0,.25);
    }
    .password--background-image_desk {
      display: none;
    }
    .password--background-image_mob {
      display: inherit
    }
    .template--password .password--main {
      justify-content: flex-end;
    }
/*     .template--password .password--mailing-list {
      padding-bottom: 25px !important;
    } */
/*     .template--password .password--main {
      padding-bottom: 40px !important;
    } */
    .template--password .password--main {
      padding: 0 15px 100px;
    }
    .template--password h1 {
      font-size: 27px;
    } 
    .template--password .password--navigation .password--navigation--instagram {
      right: calc(50% - 38px);
      top: auto;
      bottom: 30px;
    }
    .template--password .password--navigation .password--navigation--logo {
      left: calc(50% - 77px);
    }
  }
</style>
<script>
const doc = document.documentElement
doc.style.setProperty('--app-height', `${window.innerHeight}px`)
}
window.addEventListener('resize', appHeight)
appHeight()
</script>

<div class="password--root" data-section-id="{{ section.id }}" data-section-type="password" data-password--logo="{% if logo %}true{% else %}false{% endif %}" data-password--logo-height="{{ section.settings.logo-height-range }}" data-js-class="PasswordPage" >
  <div class="password--background-image password--background-image_desk">
    {%
    	render "framework--image",
    	image_url: background_image,
    	full_width: true
    %}
  </div>
  <div class="password--background-image password--background-image_mob">
    {%
    	render "framework--image",
    	image_url: background_image_mob,
    	full_width: true
    %}
  </div>
  <div class="password--navigation">
    <a class="password--navigation--logo" href="{{ shop.url }}" title="{{ shop.name }}" {% if disabled_by_yoast_seo %}itemprop="url"{% endif %}>
    	{{ 'Primary_logo_white.png' | asset_url | img_tag }}
    </a>
    <a class="password--navigation--instagram" href="https://www.instagram.com/athletiquerc/" target="_blank">INSTAGRAM</a>
  </div>
  <div class="password--main">
    <div class="password--main--content">
      <h1><span>NEW SPORTS LUXURY LAUNCHING SOON</span></h1>
      <div class="fadeInUp">
        <p>Introducing Athlétique. A design house for luxury workout apparel.</p>
        <p>Subscribe now for all the latest news and curated content about our launch.</p>
      </div>
    </div>
    <div class="password--mailing-list fadeInUp" id="newsletter">
        <div class="klaviyo-form-RyUHfV"></div>
        {% comment %}
        {% form 'customer', id: 'footer_form' %}
    		{% if form.posted_successfully? %}
    			<p class="success" data-item="paragraph">{{ success_message_t }}</p>
    		{% endif %}
            {% if form.errors %}
    			<p class="error" data-item="paragraph">
                    {% for field in form.errors %}
      				{{ field }} {{ form.errors.messages[field] }}
        			{% endfor %}
        		</p>
    		{% endif %}
            <input type="hidden" name="contact[tags]" value="newsletter" />
    		<input type="hidden" name="contact[first_name]" value="Newsletter" />
    		<input type="hidden" name="contact[last_name]" value="Subscriber" />
    		<label for="password-email" data-item="hidden-text">ENTER YOUR EMAIL</label>
            <input aria-label="ENTER YOUR EMAIL" type="email" id="password-email" placeholder="ENTER YOUR EMAIL" name="contact[email]" required/>
            <div class="password--mailing-button">
    			<button value="{{ newsletter_button_t }}">SUBSCRIBE NOW</button>
    		</div>
            {% if form.posted_successfully? or form.errors %}
    			<script>window.location.hash = '#feedback-bar--newsletter';</script>
    		{% endif %}
            <div data-item="hidden-text">
    			{{ 'shopify.online_store.spam_detection.disclaimer_html' | t }}
    		</div>
    	{% endform %}
        {% endcomment %}
    </div>
  </div>
</div>


<div
  class="password--root"
  data-section-id="{{ section.id }}"
  data-section-type="password"
	data-password--logo="{% if logo %}true{% else %}false{% endif %}"
  data-password--logo-height="{{ section.settings.logo-height-range }}"
  data-js-class="PasswordPage"
  style="display: none"
>
	<div class="password--background-image">
		{%
			render "framework--image",
			image_url: background_image,
			full_width: true
		%}
	</div>

  <div class="password--login">

    <div class="password--login-link" data-item="accent-text" tabindex="0">
			{% render 'framework--icons', icon: 'lock' %}
			<p>{{ login_link_t }}</p>
		</div>

    <div class="password--login-form">
      {% form 'storefront_password', id: 'password_form' %}

        <div class="password--errors error" data-item="paragraph">
					{{ form.errors | default_errors }}
        </div>
				<label data-item="accent-text" for="password">
					{{ login_title_t }}
				</label>

        <input type="password" id="password" name="password">

				<div class="password--buttons-container">
					<div class="password--button" data-item="button">
						<button>
							{{ login_button_t | capitalize }}
						</button>
					</div>
					<div data-item="inverted-block-link">
						<div class="password--cancel" tabindex="0">
							{{ login_cancel_t }}
						</div>
					</div>
				</div>

      {% endform %}
    </div>

  </div>

	<div class="password--main">

		<a href="{{ shop.url }}" title="{{ shop.name }}" {% if disabled_by_yoast_seo %}itemprop="url"{% endif %}>
			{% if logo %}
				<div class="password--logo">
					{%
						render "framework--image",
						image: logo,
						full_width: false,
						max_height: logo_height
					%}
				</div>
			{% else %}
				<div class="password--shop-name" data-item="section-heading">{{ shop.name }}</div>
			{% endif %}
		</a>

		<h2 class="password--subtitle" data-item="section-heading">{{ title_t }}</h2>

		{% if shop.password_message != blank %}
			<p class="password--info" data-item="paragraph">{{ shop.password_message }}</p>
		{% else %}
			<p class="password--info" data-item="paragraph">{{ subtitle_t }}</p>
		{% endif %}

		{% if show_mailing %}

			{% if section.settings.mailing-list--title != blank %}
				<div class="password--mailing-header" data-item="block-heading">
					{{ section.settings.mailing-list--title }}
				</div>
			{% endif %}

			<div class="password--mailing-list" id="newsletter">

				{% form 'customer', id: 'password_form' %}
					{% if form.posted_successfully? %}
						<p class="success" data-item="paragraph">
							{{ success_message_t }}
						</p>
					{% endif %}

					{% if form.errors %}
						<p class="error" data-item="paragraph">
							{% for field in form.errors %}
								{{ field }} {{ form.errors.messages[field] }}
							{% endfor %}
						</p>
					{% endif %}

					<input type="hidden" name="contact[tags]" value="{{ source }}" />
					<input type="hidden" name="contact[first_name]" value="Newsletter" />
					<input type="hidden" name="contact[last_name]" value="Subscriber" />
					<label for="password-email" data-item="hidden-text">
						{{ mailing_placeholder_t }}
					</label>

					<input
						aria-label="{{ mailing_placeholder_t }}"
						type="email"
						id="password-email"
						placeholder="{{ mailing_placeholder_t }}"
						name="contact[email]"
						required
					/>

					<span class="password--mailing-separator"></span>

					<div
						class="password--mailing-button"
						data-item="inverted-button"
					>
						<button>
							{{ mailing_button_t }}
						</button>
					</div>

					{% if form.posted_successfully? or form.errors %}
						<script>window.location.hash = '#feedback-bar--newsletter';</script>
					{% endif %}

					<div data-item="hidden-text">
						{% comment %} remove the below line to display reCAPTCHA badge {% endcomment %}
						{{ 'shopify.online_store.spam_detection.disclaimer_html' | t }}
					</div>
				{% endform %}
			</div>

		{% endif %}

      	{% comment %}
		<div class="password--powered-by" data-item="paragraph">
			{{ 'general.password.powered_by_shopify_html' | t: shopify: shopify }}
		</div>
      	{% endcomment %}

	</div>

</div>

{% schema %}
{
  "name": "Password page",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image",
      "info": "Using a light colored logo is preferable since dark ones won’t be visible on the dark background."
    },
    {
      "label": "Custom logo height",
      "id": "logo-height-range",
      "type": "range",
      "min": 30,
      "max": 250,
      "step": 20,
      "unit": "px",
      "default": 50,
      "info": "This is referring to the natural height and should be half the height of the image you uploaded to ensure it stays sharp on retina screens."
    },
    {
      "type": "header",
      "content": "Mailing list"
    },
    {
      "type": "checkbox",
      "id": "show-mailing-list",
      "label": "Show form",
      "default": true
    },
    {
      "id": "mailing-list--title",
      "label": "Heading",
      "type": "textarea",
      "default": "Sign up to our mailing list"
    }
  ]
}
{% endschema %}